.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  text-align: center;
  border: 3px rgb(36, 120, 222) dotted;
}

a {
  padding: 11.3px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: -1.8px;
  width: 115px;
  height: 25px;
  background: #363afc;
  text-align: center;
  color: white;
}

a:hover {
  color:#9c9df3;
  text-shadow: -.2px -1.6px rgba(255, 255, 255, 0.694);
}

h1 {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

p {
  margin: auto;
  align-items: center;
  width: 90%;
  font-size: large;
}

.input-area {
  border: 3px black solid;
  background-color: #cacbff;
  margin:10px;
  padding: 8px;
  padding-top: 0px;
}

.forms {
  margin: auto;
  width: 70%;
}

img {
  width: 454px;
  padding: 8px;
  padding-bottom: 18px;
  margin-left: 53px;
}

.modelDiv {
  margin: 25px;
  margin-left: 50px;
  display: flow-root;
  background-color: #bfc0ff;
  width: 80%;
  padding: 15px;
  border: 5px solid #0e8ed3;
}
.makeDiv {
  margin: auto;
  display: flow-root;
  background-color: #a8aaff;
  width: 80%;
  padding: 15px;
  border: 7px solid black;
  border-radius: 32px;
}

h2 {
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #070a8b;
  margin: 20px;
  background-color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

button:hover {
  background-color: rgb(233, 150, 236);
  color: #070a8b;
}

.toNew {
  margin:auto;
  width: 76%;
  display: block;
}